@using Kigg.Domain.ViewModels
@model UserRegistrationViewModel
<div class="modal-box-content">
    <div class="box">
        @using (Html.BeginForm("Signup", "Membership", FormMethod.Post, new Dictionary<string, object> { { "class", "form" } }))
        {
            <h3>
                Signup</h3>
            <div>
                <label for="signup-username" class="label">
                    @Resources.Site.SiteSignupUserName:</label>
                @Html.TextBoxFor(u => u.UserName, id: "signup-username", cssClass: "textbox")
                @Html.ValidationMessageFor(u => u.UserName, cssClass: "error")
            </div>
            <div>
                <label for="signup-password" class="label">
                    @Resources.Site.SiteSignupPassword:</label>
                @Html.PasswordFor(u => u.Password, id: "signup-password", cssClass: "textbox")
                @Html.ValidationMessageFor(u => u.Password, cssClass: "error")
            </div>
            <div>
                <label for="signup-email" class="label">
                    @Resources.Site.SiteSignupEmail:</label>
                @Html.TextBoxFor(u => u.Email, id: "signup-email", cssClass: "textbox")
                @Html.ValidationMessageFor(u => u.Email, cssClass: "error")<span class="info">(Please
                    use a valid email, you have to verify it later)</span>
            </div>
            <div>
                <label class="label">
                </label>
                <input type="submit" value="@Resources.Site.SiteSignup" class="button" />
            </div>   
        }
    </div>
</div>
