<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta id="metaKeywords" runat="server" name="keywords" content="@Resources.Site.SiteMetaKeywords" />
    <meta id="metaDescription" runat="server" name="description" content="@Resources.Site.SiteMetaDescription" />
    <meta name="Rating" content="General" />
    <meta name="robots" content="index, follow" />
    <title>@Kigg.StringExtensions.FormatWith("{0}: {1}", Resources.Site.SiteTitlePrefix, ViewBag.Title)</title>
    <link href="@Url.FavIcon("fav.ico")" rel="shortcut icon" type="image/x-icon"/>
    <link href="@Url.FavIcon("fav.ico")" rel="icon" type="image/x-icon"/>
    @{
        Html.Telerik()
            .StyleSheetRegistrar()
            .DefaultGroup(g => g.Add("reset.css")
                                   .Add("themes/default/elements.css")
                                   .Add("themes/default/layout.css")
                                   .Add("themes/default/site.css")
                                   .Add("telerik.common.css")
                                   .Add("telerik.forest.css")
                                   .UseTelerikContentDeliveryNetwork(false))
            .Render();
    }
</head>
<body>
    <div id="container">
        <div id="header">
            @Html.PartialSharedThemed("_header.cshtml")
        </div>
        <div id="main-menu">
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
